@media screen and (min-width: 768px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.navigation ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	.navigation a {
		flex: 1 1 100%;
		display: block;
	}

    #temples {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

	#menu {
		display: none;
	}

	main {
		max-width: 1600px;
	}
}

@media screen and (min-width: 1024px) {
	#temples {
        grid-template-columns: repeat(3, 1fr);
	}
}